<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Product Classification</div>
      <div class="panel-body">

        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#">Product</a>
          </li>
          <!-- <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li> -->
              </ul>
              <br>
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-info">Group</a>
            <a href="#" class="btn btn-info">Sub Group</a>
            <a href="#" class="btn btn-info">Item</a>
          </div>
       
        <br>
      </div>
    </div>
  </div>